RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME) !-d
#allowing the vendor file to be web accessible
RewriteRule ^vendor/ - [L,NC]
RewriteRule ^([^/]+)/? index.php?url=$1 [L,QSA]
